/*Cultura CLR */
/* Videos de eventos */

#culturaClr{
    background-color: $color3;
    position: relative;
    grid-area: culturaClr;
    overflow: hidden;
    font-family: DIN-regular, 'open Sans', sans-serif;
        h3{
            color: $color2;
        }
}



.videoEventos{
    background-color: $color3;
        div div{
            a{
            width: 75%;
            margin: auto;
            border: 3px solid $color2;
            box-sizing: border-box;

            }
            a img{
                opacity: .5;
            }
            a p i{
                color: #f8f9fac2;
            }
            a:hover p i{
                color: #a756387a;
                transition: .5s;            
            }
            a:hover img{
                border: 4px solid #191919;
                transition: .5s;
                opacity: .8;            
            }
        }

}

.fancybox__slide{
    padding:0;
}





/* Seccion artistasClr */

#artistasClr{
    grid-area: artistasClr;
    background: $color2;
    font-family: DIN-regular, 'open Sans', sans-serif;
        h6{
            letter-spacing: 1px;
            color: $color3;
            font-weight: lighter;
        }
}

.borderIframeYoutube{
    border: 4px solid $color3;

}

.artistasNav li a{
    color: #19191973;
    font-weight: lighter;
        &:hover{
            color: #a756387a;
            transition:.5s;
            font-weight: bold;
            transition: font-weight 0s;
        }
}

img.imgArtista{
    width: 255px;
}
.artistasNav .nav-link.active{
    color: $color1;
    font-weight: bold;
}
.redesArtistas a{
    color: #19191973;
    font-size: .8rem;

    &:hover{
        color:$color1;
        transition: 0.5s; 
    }
}




