/* Diseños generales */

* {
    margin:0;
    padding:0;
 }
 

 html{
     scroll-behavior: smooth;
 }

body{
    font-family: DIN-regular, 'open Sans', sans-serif;
    background-color: $color2;
    
}


#gridLayout{
    display: grid;
    grid-template-areas: 
    "portada"
    "proximosEventos"
    "culturaClr"
    "artistasClr"
    "raicesClr"
    "footer";

    grid-template-columns:  100%;
    grid-template-rows: 100vh auto auto auto auto 20vh;

    @media only screen and (min-width: 768px){
        grid-template-rows: 100vh minmax(100vh, auto) minmax(80vh, auto) auto auto 20vh;

    }
    @media only screen and (min-width: 992px){
        grid-template-columns:  100%;
        grid-template-rows: 100vh minmax(100vh, auto) minmax(50vh, auto) auto auto 20vh;
    }
    @media only screen and (min-width: 1200px){
        grid-template-columns:  100%;
        grid-template-rows: 100vh minmax(100vh, auto) minmax(50vh, auto) auto minmax(100vh, auto) 20vh;
    }

}

/*Titulos*/
.titulo{
    font-family: VersicaRough;
    font-size: 2.9rem;   
    @media only screen and (min-width: 768px){
        font-size: 4rem;
    }


}

/*Textos*/
.texto{
    font-family: DIN-regular, 'open Sans', sans-serif;
    font-size: 1rem;   

}

/*Botones*/

@mixin boton() {
    display: inline-block;
    font-size: 5vw;
    font-family: DIN-regular, 'open Sans', sans-serif;
    color: $color2;
    padding: 1vw 1.5vw;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid  $color2;
    border-radius: 100px;
    background-color: $color1-botones;
}

@mixin boton-hover {
    color: $color1;
    padding: 1vw 1.5vw;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid $color1;
	border-radius: 100px;
    background-color: $color2;
    transition: 0.5s;
    zoom: 1;    
}

.portada a i, .descripcionRaices a i, .infoProxEvento a i{
    padding-right: .5em;
}


.swipeUp a {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    text-decoration: none;
    font-family: DIN-regular, 'open Sans', sans-serif;
    color: $color2;
    font-weight: bold;
    border: .15vw  solid $color2;
	border-radius: 50%;
    background-color: $color1-botones;
    @media only screen and (min-width: 768px){
        width: .8rem;
        height: .8rem;
    }
    @media only screen and (min-width: 992px){
        width: .8rem;
        height: .8rem;
    }
        &:hover{
            font-family: DIN-regular, 'open Sans', sans-serif;
            color: $color1;
            padding: 1vw;
            text-decoration: none;
            font-weight: bold;
            border-radius: 100%;
            background-color: $color2;
            transition: 0.5s;
            border: .15vw solid $color1;
        }

}

.fa-angle-up{
    font-size: 1rem;
    @media only screen and (min-width: 768px){
        font-size: 2vw;
    }
    @media only screen and (min-width: 992px){
        font-size:2vw;
    }
}


