/* 2 Barra de navegación */

#portada{
    position: relative;
    z-index: 300;
    grid-area: portada;
    font-family: DIN-regular, 'open Sans', sans-serif;
        div.container-fluid{
            position: absolute; 
            background-color: transparent;
            z-index: 100;
            &.convertite{
                position: relative; 
                background-color: transparent;
                height: 20vh;
                z-index: 100;
            
            }
            &.faqs{
                position: relative; 
                background-color: transparent;
                height: 20vh;
                z-index: 100;            
            }
            nav.navbar{
                background-color: transparent;                      
            } 

        } 
  
}

.a-imgLogo{
    margin-left: -2rem;

.imgLogo{
    width: 19vh;
    position: relative;

    @media only screen and (min-width: 992px){
        width: 11vw;
        position: absolute;
        top: -3.5vw;
    }   
}
}


#navbarNavDropdown{
    border-radius: 20px 0px 20px 20px;
    background-color:  rgba(0, 0, 0, 0.795);
    @media only screen and (min-width: 992px){
        background-color: transparent;
    }
        ul li a{
            color: white;
            font-size: 6vw;
            &:hover{
                text-decoration: overline $color1 2px;
                color:$color1;
                transition: 0.5s;            
            }
            @media only screen and (min-width: 768px){
                font-size: 4vw;

            }
            @media only screen and (min-width: 992px){
                color: white;
                font-size: 1.3vw;
            }        
        }
        ul li div a:hover{
            background-color: transparent;
        }
}


.navbar-nav{
    @media only screen and (min-width: 992px){
    margin-left: -40px;
}
}

ul.redes li a i{
    font-size: 8vw;
    margin-right: .4rem;
    @media only screen and (min-width: 768px){
        font-size: 6vw;
    }

    @media only screen and (min-width: 992px){
        font-size: 1.7vw;
    }
}

.dropdown div.dropdown-menu{
    background-color: transparent;
    @media only screen and (min-width: 992px){
        background-color: rgba(0, 0, 0, 0.705);
    }
}

.dropdown-menu{
    @media only screen and (min-width: 992px){
    display: block;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    }
}
.nav-item.dropdown:hover .dropdown-menu{
    @media only screen and (min-width: 992px){
    display: block;
    visibility: visible;
    opacity: 1;
    transition: 1.25s;}
}

.fa-angle-down{
    font-size: 1em;
    padding-left: .4em;
}

.nav-item.dropdown:hover .fa-angle-down{
    color: $color1;
    transform: rotate(180deg);
    transition: .8s;
}


/* Video de portada de fondo, titulo y primera visualización */
.contenedor-portada{
    background-color: black;
    width: 100%;
    height: 100%;
    position:relative;
        div:first-child{
            height: 100%;
            width: 100%;
            text-align: center;
            overflow: hidden;
        }
}

.videoHeader1{
    display: none;
    @media only screen and (min-width: 864px){
        display: block;
        width: 100%;
        height: 100%;
        opacity: 55%; 
        object-fit: cover;
    }
    
}

.videoHeader2{
        display: block;
        width: 100%;
        height: 100%;
        opacity: 55%; 
        object-fit: cover; 
    
    @media only screen and (min-width: 864px){
        display: none;
    }
}

.portada{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 30%;
    @media only screen and (min-width: 992px){
        width: 50%;
        left: 3%;

    }

        h1{
            font-family: VersicaTextured;    
            text-align: center;
            color: $color2;
            font-size: 5rem;
            margin-bottom: 40px;
            width: 100%;
            line-height: .5;
            animation-name: entrada-titulo;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-delay: 2.5s;
            visibility: hidden;
            @media only screen and (min-width: 576px){
                font-size: 5rem;
            }
            @media only screen and (min-width: 768px){
                font-size: 8rem;
            }
            @media only screen and (min-width: 992px){
                font-size: 8rem;
            }
        }

        h3{
            font-family: DIN-regular, 'open Sans', sans-serif;
            color: $color2;
            font-weight: bold;
            font-weight: lighter;
            animation: 2s entrada-titulo;
            animation-fill-mode: forwards;
            animation-delay: 3s;
            visibility: hidden; 
            width: 95%;
            margin: 20px auto 30px;
        }
        
        a{
            @include boton();
            animation: 2s entrada-titulo;
            animation-fill-mode: forwards;
            animation-delay:3s;
            visibility: hidden;
            &:hover{
                @include boton-hover();
                
            }
            @media only screen and (min-width: 576px){
                font-size: 1.2rem;
            }  
            @media only screen and (min-width: 768px){
                font-size: 2rem;
            } 
            @media only screen and (min-width: 992px){
                font-size: 1.2rem;
            }       
        }
}


@keyframes entrada-titulo {
    0% {
      opacity: 0;
    }
    25% {
        opacity: 0.25;
      }
  
    50% {
        opacity: 0.5;
      }
    75% {
        opacity: 0.75;
      }
      
    100% {
      visibility: visible;
      opacity: 1;
    }
  }




