/* Seccion de próximos eventos */

#proximosEventos{
    background-color: $color2;
    position: relative;
    grid-area: proximosEventos;
    font-family: DIN-regular, 'open Sans', sans-serif;
}




.infoProxEvento{
    font-size: 1rem;
    @media only screen and (min-width: 576px){
        font-size: 1rem;
    }
    @media only screen and (min-width: 768px){
        font-size: 1.5rem;
    }
    @media only screen and (min-width: 992px){
        font-size: 1rem;
    }

        h2{
            font-size: 1em;
            color: rgb(78, 78, 78);    
            font-weight: bold;
        }
        p{  
            font-size: 1em;
            color: rgb(78, 78, 78);    
        }
        h1{
            color: $color1;        
        }
        hr{
            display: inline-block;
            margin: 17px 0;
            width: 70%;
            text-align: center;
            height: 1px;
            background-color: $color1;        
        }
        a{
            @include boton ();
            background-color: $color1;
            @media only screen and (min-width: 576px){
                font-size: 3vw;
            }
            @media only screen and (min-width: 768px){
                font-size: 3vw;
            }
            @media only screen and (min-width: 992px){
                font-size: 1.5vw;
            }
        
            &:hover{
                @include boton-hover();
            }        
        }
}










