/* Seccion Roots - quienes somos */

#raicesClr{
    grid-area: raicesClr;
    background-color: $color1;
    padding: 0px 0 50px 0;
    overflow: hidden;
    @media only screen and (min-width: 1200px){
        background-image: url("../media/img/WhatsApp\ Image\ 2021-07-17\ at\ 19.44.38.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.descripcionRaices{
    color: white;
    position: relative;
    font-size: 1rem;
    @media only screen and (min-width: 576px){
        font-size: 1rem;
    }
    @media only screen and (min-width: 768px){
        font-size: 1.5rem;
    }
    @media only screen and (min-width: 992px){
        font-size: 1rem;
    }
        h6{
            font-size: 1em;
            color:white;
            font-weight: bold;
        }
        h2{
            color: white;
            text-align: justify;
            
        }
        p{
            color: $color2;
        }
        hr{
            display: inline-block;
            margin: 17px 0;
            width: 70%;
            text-align: center;
            height: 1px;
            background-color: white;
        }
        a{
            @include boton();
            @media only screen and (min-width: 576px){
                font-size: 1.2rem;
            }  
            @media only screen and (min-width: 768px){
                font-size: 2rem;
            } 
            @media only screen and (min-width: 992px){
                font-size: 1.2rem;
            }       
            &:hover{
                @include boton-hover();
            }
        }

}





