/* Seccion Roots - quienes somos */

#raicesClr{
    grid-area: raicesClr;
    background-color: $color1;
    padding: 50px 0;
    @media only screen and (min-width: 992px){
        background-image: url("../media/img/573e6e14-92bf-4655-9741-4b6021195dfc.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.descripcionRaices{
    color: white;
    position: relative;
    font-size: 2rem;
    @media only screen and (min-width: 576px){
        font-size: 5vw;
    }
    @media only screen and (min-width: 992px){
        font-size: 2.6vw;
    }
        h6{
            font-size: .5em;
            color:white;
        }
        h2{
            font-size: .4em;
            color: white;
            text-align: justify;
        }
        p{
            color: $color2;
        }
        hr{
            display: inline-block;
            margin: 17px 0;
            width: 70%;
            text-align: center;
            height: 1px;
            background-color: $color3;
        }
        a{
            @include boton();
            @media only screen and (min-width: 576px){
                font-size: 3vw;
            }
            @media only screen and (min-width: 768px){
                font-size: 2vw;
            }
            @media only screen and (min-width: 992px){
                font-size: 1.5vw;
            }
            &:hover{
                @include boton-hover();
            }
        }

}





